<app-menu></app-menu>
<h2>Meldeliste</h2>

<ng-container *ngIf="registrations$ | async as registrations">
  <a *ngIf="hasRole('ROLE_USER')" [routerLink]="['/tournament/register', id]">Anmeldung</a>&nbsp;
  <a *ngIf="hasRole('ROLE_USER')" [routerLink]="['/tournament/details', id]">Details</a>&nbsp;

  <table>
    <tr><th>Spieler 1</th><th>Spieler 2</th></tr>
    <tr *ngFor="let registration of registrations">
      <td>{{registration.player1.name}}, {{registration.player1.firstName}}</td>
      <td>{{registration.player2.name}}, {{registration.player2.firstName}}</td>
      <td *ngIf="hasRole('ROLE_TOURNAMENT')">
        <button (click)="unregister(registration)" class="btn btn-danger mr-2" type="delete">Löschen</button>
      </td>
    </tr>
  </table>
</ng-container>