
<app-menu></app-menu>
<h2>Turnier bearbeiten</h2>
<form [formGroup]="tournamentForm" (ngSubmit)="submitForm()">
  <table>
    <tr class="form-group">
      <th>
        <label>Name</label>
      </th>
      <td>
        <input type="text" class="form-control" formControlName="name">
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Kategorie</label>
      </th>
      <td>
        <select formControlName="category">
          <option *ngFor="let category of categories" [value]="category.value">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Typ</label>
      </th>
      <td>
        <select formControlName="type">
          <option *ngFor="let type of types" [value]="type.value">{{type.name}}</option>
        </select>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Datum</label>
      </th>
      <td>
        <input [matDatepicker]="myDatepicker" formControlName="date">
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Spielmodus</label>
      </th>
      <td>
        <select formControlName="playMode">
          <option *ngFor="let playmode of playmodes" [value]="playmode.value">{{playmode.name}}</option>
        </select>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Beschreibung</label>
      </th>
      <td>
        <textarea class="form-control" formControlName="description"></textarea>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Startgebühr</label>
      </th>
      <td>
        <input type="number" class="form-control" formControlName="entryFee">
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Preisgeld</label>
      </th>
      <td>
        <input type="number" class="form-control" formControlName="priceMoney">
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Kontakt</label>
      </th>
      <td>
        <input type="text" class="form-control" formControlName="contact">
      </td>
    </tr>
  </table>
  <button class="btn btn-danger" [disabled]="tournamentForm.invalid" type="submit">Abschicken</button>
  <button (click)="goBack()" type="cancel">Abbrechen</button>
</form>

{{ tournamentForm.value}}