
<form [formGroup]="tournamentForm" (ngSubmit)="submitForm()">
  <table>
    <tr class="form-group">
      <td>
        <label>Name:</label>
      </td>
      <td>
        <input type="text" class="form-control" formControlName="name">
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Kategorie:</label>
      </td>
      <td>
        <select formControlName="category">
          <option *ngFor="let category of categories" [value]="category.value">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Typ:</label>
      </td>
      <td>
        <select formControlName="gender">
          <option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</option>
        </select>
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Datum:</label>
      </td>
      <td>
        <input [matDatepicker]="myDatepicker" formControlName="date" readonly>
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Spielmodus:</label>
      </td>
      <td>
        <select formControlName="playMode">
          <option *ngFor="let playmode of playmodes" [value]="playmode.value">{{playmode.name}}</option>
        </select>
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Beschreibung:</label>
      </td>
      <td>
        <textarea class="form-control" formControlName="description"></textarea>
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Startgebühr:</label>
      </td>
      <td>
        <input type="number" class="form-control" formControlName="entryFee">
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Preisgeld:</label>
      </td>
      <td>
        <input type="number" class="form-control" formControlName="priceMoney">
      </td>
    </tr>
    <tr class="form-group">
      <td>
        <label>Kontakt:</label>
      </td>
      <td>
        <input type="text" class="form-control" formControlName="contact">
      </td>
    </tr>
  </table>
  <button class="btn btn-danger" [disabled]="tournamentForm.invalid" type="submit">Abschicken</button>
  <a routerLink="/tournament/all"><button class="btn btn-success pull-right">Abbrechen</button></a>
</form>

{{ tournamentForm.value | json }}