<app-menu></app-menu>
<h2>Turnier Details</h2>
<ng-container *ngIf="tournament$ | async as tournament">
  <a [routerLink]="['/tournament/edit', tournament.id]">Turnier bearbeiten</a>&nbsp;
  <a [routerLink]="['/tournament/all']">Turnierliste</a>&nbsp;
  <a [routerLink]="['/tournament/register']">Anmeldung</a>&nbsp;

  <table>
    <tr>
      <td>Name: </td><td>{{ tournament.name }}</td>
    </tr>
    <tr>
      <td>Kategorie: </td><td>{{ loc[tournament.category] }}</td>
    </tr>
    <tr>
      <td>Typ: </td><td>{{ loc[tournament.gender] }}</td>
    </tr>
    <tr>
      <td>Datum: </td><td>{{ tournament.date | date :'shortDate'}}</td>
    </tr>
    <tr>
      <td>Spielsystem: </td><td>{{ loc[tournament.playMode] }}</td>
    </tr>
    <tr>
      <td>Beschreibung: </td><td><div>{{ tournament.description }}</div></td>
    </tr>
    <tr>
      <td>Startgebühr: </td><td>{{ tournament.entryFee }}</td>
    </tr>
    <tr>
      <td>Preisgeld: </td><td>{{ tournament.priceMoney }}</td>
    </tr>
    <tr>
      <td>Kontakt: </td><td>{{ tournament.contact }}</td>
    </tr>
  </table>
  <button (click)="deleteTournament(tournament)" class="btn btn-danger mr-2">Turnier Löschen</button>
</ng-container>

