/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

td, th {
  border: 1px solid grey;
}

th {
  background-color: lightsteelblue;
}

tr:hover {background-color: lightgray;}


th.mat-header-cell {
  font-size: 20;
}