<app-menu></app-menu>
<h2>Turnier Details</h2>
<ng-container *ngIf="tournament$ | async as tournament">
  <a *ngIf="hasRole('ROLE_ADMIN')" [routerLink]="['/tournament/edit', tournament.id]">Turnier bearbeiten</a>&nbsp;
  <a [routerLink]="['/tournament/all']">Turnierliste</a>&nbsp;
  <a [routerLink]="['/tournament/registrations', tournament.id]">Meldeliste</a>&nbsp;
  <a *ngIf="hasRole('ROLE_USER')" [routerLink]="['/tournament/register', tournament.id]">Anmeldung</a>&nbsp;

  <table>
    <tr>
      <th>Name</th><td>{{ tournament.name }}</td>
    </tr>
    <tr>
      <th>Kategorie</th><td>{{ loc[tournament.category] }}</td>
    </tr>
    <tr>
      <th>Typ</th><td>{{ loc[tournament.type] }}</td>
    </tr>
    <tr>
      <th>Datum</th><td>{{ tournament.date | date :'shortDate'}}</td>
    </tr>
    <tr>
      <th>Spielsystem</th><td>{{ loc[tournament.playMode] }}</td>
    </tr>
    <tr>
      <th>Beschreibung</th><td><div>{{ tournament.description }}</div></td>
    </tr>
    <tr>
      <th>Startgebühr</th><td>{{ tournament.entryFee }}</td>
    </tr>
    <tr>
      <th>Preisgeld</th><td>{{ tournament.priceMoney }}</td>
    </tr>
    <tr>
      <th>Kontakt</th><td>{{ tournament.contact }}</td>
    </tr>
  </table>
  <button *ngIf="hasRole('ROLE_ADMIN')" (click)="deleteTournament(tournament)" class="btn btn-danger mr-2" type="delete">Turnier Löschen</button>
</ng-container>

