<app-menu></app-menu>
<h2>Zum Turnier anmelden</h2>
<form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
  <table>
    <tr class="form-group">
      <td>
        <label>Spieler 1:</label>
      </td>
      <td>
          <mat-form-field class="example-full-width register-width">
              <input matInput placeholder="Spieler 1" aria-label="Spieler 1" [matAutocomplete]="auto" [formControl]="player1">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let player of filteredPlayers | async" [value]="player.name + ', ' +  player.firstName + ', ' + player.club">
                  <span>{{player.name}}, {{player.firstName}}, {{player.club}}</span> |
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
      </td>
    </tr>
    <tr class="form-group">
        <td>
          <label>Spieler 2:</label>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="player2">
        </td>
    </tr>
  </table>
  <button class="btn btn-danger" [disabled]="registrationForm.invalid" type="submit">Abschicken</button>
  <button (click)="goBack()" type="cancel">Abbrechen</button>
</form>
{{ registrationForm.value | json }}