/* You can add global styles to this file, and also import other style files */


@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';



table {
  align-content: center;
}

td, th {
  border-bottom: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

th {
  background-color: lightsteelblue;
  text-align: center;
}

tr:hover {
  background-color: lightgreen;
}

.register-width {
  width: 400px;
}


