/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


table {
  align-content: center
}

td, th {
  border-bottom: 1px solid grey;
  text-align: center;
}

th {
  background-color: lightsteelblue;
  text-align: center;
}

tr:hover {
  background-color: lightgray;
}

th.mat-header-cell {
  text-align: center;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

div {
  white-space: pre-wrap;
}

.register-width {
  width: 400px;
}