<h1>
  Turniere
</h1>
<a [routerLink]="['/tournament/edit/0']">Turnier anlegen</a>
<table mat-table [dataSource]=tournaments class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} 
    </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Kategorie </th>
    <td mat-cell *matCellDef="let user"> {{loc[user.category]}} </td>
  </ng-container>
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef> Kontakt </th>
    <td mat-cell *matCellDef="let user"> {{user.contact}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let user"> {{user.date | date :'shortDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
    <td mat-cell *matCellDef="let user"> {{user.description}} </td>
  </ng-container>
  <ng-container matColumnDef="entryFee">
    <th mat-header-cell *matHeaderCellDef> Startgebühr </th>
    <td mat-cell *matCellDef="let user"> {{user.entryFee}} </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Typ </th>
    <td mat-cell *matCellDef="let user"> {{loc[user.gender]}} </td>
  </ng-container>
  <ng-container matColumnDef="playMode">
    <th mat-header-cell *matHeaderCellDef> Spielsystem </th>
    <td mat-cell *matCellDef="let user"> {{loc[user.playMode]}} </td>
  </ng-container>
  <ng-container matColumnDef="priceMoney">
    <th mat-header-cell *matHeaderCellDef> Preisgeld </th>
    <td mat-cell *matCellDef="let user"> {{user.priceMoney}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="goDetails(row)"></tr>
</table>